*{
    margin:0;
    padding:0;
    list-style: none;
    
}

/*css da header*/

header{
    background-color: cadetblue;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.calculo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    padding: 20px 20px; 
    

}

label, label>div{
    padding: 10px;
}

.resultado{ 
    text-align: center;  
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: cadetblue;
    color: #fff;
}

footer{
    margin-top: 30px;
    background-color: cadetblue;
    color: #fff;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

@media(max-width: 360px){
.calculo{
    padding: 10px;
    margin-top: 5px;
}
}